:host {
  ion-grid, ion-row {
    height: 100%;
  }

  ion-input, ion-label {
    font-size: 3rem;
  }

  ion-input {
    // --padding-end: 0;
  }

  ion-item {
    max-width: 180px;
    margin: auto;
    --inner-padding-end: 0;
    
  }
}